* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url("../Img/top__back.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.top__heading {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    color: #1F3F68;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top__text {
    width: 459px;
}

.what-we-do {
    padding-top: 64px;
}

.heading {
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    padding-top: 28px;
}

.card .card__link:after {
    content: " ";
    background: url(../Img/arrow.png) no-repeat center center;
    display: inline-block;
    width: 25px;
    height: 14px;
    margin-left: 23px;
}

.project__img {
    width: 100%;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 112px;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__item_margin {
    margin-right: 32px;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project__text_mini {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
    text-align: left;
}

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
}

.footer__top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    width: 495px;
}

.footer__heading {
    width: 340px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 32px;
}

.text__footer {
    color: #FFFFFF;
}

.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
}

hr {
    opacity: 0.4;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer__list {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    margin-right: 32px;
}

.footer__copy {
    margin-top: 64px;
}

.text__copy {
    color: #FFFFFF;
}

.contacts-header {
    display: block;
    align-items: center;
    position: relative;
    padding-top: 55px;
}

.contacts__top {
    width: 780px;
    position: absolute;
    letter-spacing: 0.04em;
    padding-top: 51px;
}

.contacts__top_text {
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 16px;
}

.form-wrapper {
    display: flex;
    justify-content: space-around;
}

body {
    font-family: Roboto, sans-serif;
}

.header-up {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    color: #FFFFFF;
}

.input-text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button-submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 32px;
    }
    .top__info {
        background-position: right 180px;
    }
    .card-box {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 32px;
    }
    .card__link {
        padding-top: 26px;
    }
    .card .card__link:after {
        margin-left: 26px;
    }
    .project__parent {
        margin-bottom: 109px;
    }
    .footer {
        padding-top: 48px;
    }
    .footer__top {
        padding-bottom: 64px;
        padding-left: 124px;
    }
    .footer__button {
        display: flex;
        align-items: center;
        padding: 4px 31px;
        box-sizing: border-box;
    }
    .footer__info {
        flex-direction: column;
    }
    .footer__bottom {
        margin-left: 124px;
    }
    .footer__list {
        margin-bottom: 17px
    }
}

@media (max-width: 667px) {
    .header {
        padding-top: 24px;
    }
    .top {
        min-height: 376px;
    }
    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }
    .top__heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 12px;
    }
    .top__text {
        width: 100%;
        text-align: center;
    }
    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
        margin-bottom: 41px;
        box-sizing: border-box;
    }
    .heading {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    .what-we-do {
        padding-top: 48px;
    }
    .card-box {
        padding-top: 32px;
    }
    .card {
        width: 100%;
    }
    .card__link {
        padding-top: 45px;
    }
    .card .card__link:after {
        margin-left: 14px;
    }
    .text_project {
        width: 100%;
    }
    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .project__text_mini {
        left: 16px;
    }
    .project__parent {
        flex-direction: column;
        margin-top: 16px;
        margin-bottom: 64px;
    }
    .project__item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .footer {
        padding-top: 18px;
        padding-bottom: 32px;
    }
    .footer__heading {
        font-size: 24px;
        line-height: 28px;
        width: 75%;
        margin: 0 auto 32px;
        text-align: center;
    }
    .text__footer {
        text-align: center;
        padding-bottom: 40px;
    }
    .footer__top {
        padding-left: 0;
        flex-direction: column;
        padding-bottom: 41px;
    }
    .footer__text {
        width: 100%;
    }
    .footer__button {
        display: flex;
        align-items: center;
        padding: 0 8px;
        box-sizing: border-box;
    }
    .footer__bottom {
        margin-left: 0;
        margin-bottom: 32px;
    }
    .footer__list {
        line-height: 19px;
        margin-bottom: 18px
    }
    .footer__info {
        flex-direction: column;
        margin-top: 32px;
    }
    .footer__copy {
        margin-top: 32px;
    }
    .text__copy {
        text-align: center;
    }
}